# Local IntelliJ configs
.idea/
*.iml

# Gradle local stuff
.gradle/

# Gradle build output
nozc/build/
build/

# Latex report
report/

# Javadoc generated manually when writing documentation
docs/Javadoc